.container{
    top: 120px;
    flex-direction: column;
    align-content: center;
    position: absolute;
    justify-content: center;
    align-items:center;
    height: 500px;
}
body{
    height: 800px;
}
#home::before{
    background-image: none;
    height: 922px;
    /* opacity: 0.9; */
    background: url('jokesbackground\ -\ Copy.jpg') no-repeat center center/cover;
}


element.style {
}
#playbtn {
    /* margin-top: 22px; */
    /* margin-left: 155px; */
    margin: 0;


}
#jokesbox{
    margin: 22px;
    width: 380px;
    height:330px;
}